*,
::after,
::before {
  box-sizing: border-box;
}

.preview-root-app-wrapper {
  margin: 15px 0px;
  max-width: 44rem;
}

.MuiModal-backdrop {
  display: block !important;
}

.MuiSvgIcon-root {
  width: 24px !important;
  height: 24px !important;

  text {
    font-size: 12px !important;
  }
}

.input-full-width {
  input {
    font-size: 16px !important;
  }
}

.preview-modal-box {
  padding: 10px !important;
  .modal-header {
    padding: 0px 0px 10px 0px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
  }

  .modal-preview {
    @media screen and (min-width: 1367px) {
      padding: 10px 50px !important;
      width: 400px;
    }
  }
}

.pointer {
  cursor: pointer;
}

#svg2img-button {
  visibility: hidden !important;
}

.MuiPaper-root {
  li {
    font-size: 14px !important ;
  }
}
.MuiSelect-select {
  font-size: 14px !important;
  min-height: auto !important;
}
.MuiSelect-icon {
  top: unset !important;
}

.preview-modal-box {
  @media screen and (max-width: 767px) {
    max-width: 100%;
    height: 100%;
    overflow-y: auto;
  }
  @media only screen and (max-width: 1366px) and (min-width: 1025px) {
    max-width: 100%;
    height: 100%;
    overflow-y: auto;
  }
}
.preview-modal-box-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  @media screen and (max-width: 767px) {
    width: 100%;
    padding: 20px;
    height: 80vh;
  }
  @media only screen and (max-width: 1366px) and (min-width: 1025px) {
    width: 400px;
    padding: 20px;
    height: 80vh;
  }
}
