.input-handle-wrapper {
  margin-top: 10px;
  .input-full-width {
    position: relative;
    display: flex;
    justify-content: space-between;
    input {
      width: 100%;
      padding: 10px 0px 10px 10px;
    }

    svg {
      position: absolute;
      right: -40px;
      top: 10px;
      width: 20px;
      height: 20px;
    }
  }
  .drop-down-full-width {
    display: flex;
    justify-content: center;
    position: relative;

    select {
      width: 100%;
      padding: 5px 0px 5px 5px;
    }
    img {
      padding: 5px;
      width: 60px;
      height: 60px;
    }

    .active-image {
      border: 2px solid #1976d2;
    }

    .notify-icon {
      svg {
        position: absolute;
        right: -40px;
        top: 10px;
        width: 20px;
        height: 20px;
      }
    }
  }
  .personalization-options {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .quantity-wrapper {
    width: 100%;
    display: flex;

    .back-arrow-container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100px !important;
      height: 50px !important;
      border: 1px solid #bdbdbd;

      svg {
        width: 35px !important;
        height: 60px !important;
        fill: #5c5f62;
      }
    }

    .quantity-container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 160px !important;
      height: 50px !important;
      background: #f2f2f2;
      border: 1px solid #bdbdbd;

      .quantity-display {
        font-size: 30px;
        line-height: 20px;
        font-weight: 700;
      }
    }

    .forward-arrow-container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100px !important;
      height: 50px !important;
      border: 1px solid #bdbdbd;

      svg {
        width: 35px !important;
        height: 60px !important;
        fill: #5c5f62;
      }
    }
  }

  .Mui-error {
    .MuiOutlinedInput-notchedOutline {
      border-color: #f2994a !important;
    }
    font-size: 12px;

    &.MuiFormHelperText-root {
      color: #f2994a !important ;
      margin-left: 0px;
    }
  }
}
