.step-wrapper {
  overflow: auto;
  padding-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  span{
    text-align: center;
  }

  .step-pointer {
    .MuiSvgIcon-root {
      cursor: pointer;
    }
    &.completed{
      circle {
        color: #4CAF50;
      }
    } 
    
    &.current{
      circle {
        color: #56CCF2;
      }
    }

    &.next{
      circle{
        color: #3752B2;
      }
    }
  }

  .step-wrapper-btn {
    width: 100%;
    margin: 8px 0;
    .MuiStepper-root{
      flex-wrap: wrap;
      .MuiStep-root{
        padding-bottom: 8px;
      }
    }
  }

  .step-wrapper-label {
    margin: 6px 0;
    font-size: 24px;
  }
  /* width */
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: rgb(120, 184, 120);
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: rgb(120, 184, 120);
  }
}

.MuiSelect-select {
  padding: 10px !important;
}
