{% if template contains 'product' %}
  <link
    rel="preload"
    as="image"
    href="https://prodmyeasymonogram.s3.us-east-2.amazonaws.com/Product/05+-+Live+Preview+Backgrounds/BG1.png">
  <link rel="stylesheet" href="https://prodmyeasymonogram.s3.us-east-2.amazonaws.com/store-front/widget/staging/personalized.css">
  {{ 'personalized.css' | asset_url | stylesheet_tag }}
  <div id="preview-root-app-container" style="display: none;"></div>
  <script>
    /* Render Variant selector on frontend store */
    window.shouldVariantSelectorRender = true;
    window.productMetaData = {
      product: {
        ...{{ product | json }},
        "variants": [{% for variant in product.variants %}{
              ...{{ variant | json }},
              "quantity":"{{variant.inventory_quantity }}"
            }{% unless forloop.last %},{% endunless %}{% endfor %}]
      }
    };
    window.shopUrl = {{ shop.permanent_domain | json }};

/* === Hide ATC button === */
    const forms = document.querySelectorAll('form[action^="/cart/add"]');
    let memParentNode = document.body;
    if (forms.length > 1) {
      memParentNode = document.querySelector('form[action^="/cart/add"][id^="product-form-template"]');
    } else 
      memParentNode = forms[0];
    

    var atcButton = memParentNode.querySelector('button[type=submit]')
    if (atcButton) {
      atcButton.style.display = 'none';
      window.atcButton = atcButton;
    }
  </script>
  <script src="https://prodmyeasymonogram.s3.us-east-2.amazonaws.com/store-front/widget/staging/personalized.js" defer="defer"></script>
{% endif %}