{% assign CustomMockupImage = "https://prodmyeasymonogram.s3.us-east-2.amazonaws.com/Product/05+-+Live+Preview+Backgrounds/BG1.png" %}
{% assign 2DMetalArtMockupImage = "https://prodmyeasymonogram.s3.us-east-2.amazonaws.com/Product/05+-+Live+Preview+Backgrounds/BG1.png" %}
{% assign FoamBoard11MockupImage = "https://prodmyeasymonogram.s3.us-east-2.amazonaws.com/Product/05+-+Live+Preview+Backgrounds/BG1.png" %}
{% assign FoamBoard12MockupImage = "https://prodmyeasymonogram.s3.us-east-2.amazonaws.com/Product/05+-+Live+Preview+Backgrounds/BG1.png" %}
{% assign FoamBoard13MockupImage = "https://prodmyeasymonogram.s3.us-east-2.amazonaws.com/Product/05+-+Live+Preview+Backgrounds/BG1.png" %}
{% assign FoamBoard21MockupImage = "https://prodmyeasymonogram.s3.us-east-2.amazonaws.com/Product/05+-+Live+Preview+Backgrounds/BG1.png" %}
{% assign FoamBoard31MockupImage = "https://prodmyeasymonogram.s3.us-east-2.amazonaws.com/Product/05+-+Live+Preview+Backgrounds/BG1.png" %}
{% assign CuttingBoardPortraitMockupImage = "https://prodmyeasymonogram.s3.us-east-2.amazonaws.com/Product/05+-+Live+Preview+Backgrounds/BG1.png" %}
{% assign CuttingBoardLandscapeMockupImage = "https://prodmyeasymonogram.s3.us-east-2.amazonaws.com/Product/05+-+Live+Preview+Backgrounds/BG1.png" %}
{% assign NameNecklaceMockupImage = "https://prodmyeasymonogram.s3.us-east-2.amazonaws.com/Product/05+-+Live+Preview+Backgrounds/BG1.png" %}
{% assign NecklaceMockupImage = "https://prodmyeasymonogram.s3.us-east-2.amazonaws.com/Product/05+-+Live+Preview+Backgrounds/BG1.png" %}
{% assign NameBraceletMockupImage = "https://prodmyeasymonogram.s3.us-east-2.amazonaws.com/Product/05+-+Live+Preview+Backgrounds/BG1.png" %}
{% assign BraceletMockupImage = "https://prodmyeasymonogram.s3.us-east-2.amazonaws.com/Product/05+-+Live+Preview+Backgrounds/BG1.png" %}

{% if template contains 'product' %}
 <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>

 <div class="mema--mono--app hide">
{%  if product.metafields.monogram.monogram_fields.type == "json" %}
  {% assign meta = product.metafields.monogram.monogram_fields.value %}
{% else %}
  {% assign meta = product.metafields.monogram.monogram_fields %}
{% endif %}
{% for field in meta %}
  {% assign field_id = "monofield_" | append:forloop.index %}
  {% if field.type == "input" %}
    <div class="mono--app--field">
    	<label for="{{field_id}}">
    		{{field.name}}
    	</label>
    <input 
           {% if field.pattern_message != blank %}title="{{field.pattern_message}}"{% endif %} 
           {% if field.pattern != blank %}pattern="{{field.pattern}}"{% endif %}  
           name="properties[{{field.name}}]" 
           id="{{field_id}}" 
           type="{{field.type}}" 
           placeholder="{{field.placeholder}}" 
           maxlength="{{field.length}}" 
           onchange="changeEvents(this)" 
           {% if field.required %}required{% endif %} 
           oninput="if (typeof this.reportValidity === 'function') {this.reportValidity();}" />
  {% elsif field.type == "dropdown" %}
    {% assign values = field.value | split:',' %}
    
    <div class="mono--app--field {% if values.size == 1 %} mema--mono--app.hide {% endif %}">
      	<label for="{{field_id}}">
      		{{field.name}}
      	</label>
      	<select {% if field.required %}required{% endif %} name="properties[{{field.name}}]" id="{{field_id}}" placeholder="{{field.placeholder}}">
          {% for value in values %}
          	<option value="{{value}}">{{value}}</option>
          {% endfor %}
    	</select>
  {% endif %}
  	</div>
{% endfor %}
      
<div class="mono--app--field-btn" >
	<button type="button" class="button button--full-width button--primary" id="monoPreview">Preview</button></div>
</div>
   
<script type="text/babel">
 	
	
   {% assign custom = "Custom" %}
   {% assign 2dma = "2D Metal Art" %}
   {% assign fb11 = "FoamBoard 1:1" %}
   {% assign fb12 = "FoamBoard 1:2" %}
   {% assign fb21 = "FoamBoard 2:1" %}
   {% assign fb13 = "FoamBoard 1:3" %}
   {% assign fb31 = "FoamBoard 3:1" %}
   {% assign cbp = "Cutting Board Portrait" %}
   {% assign cbl = "Cutting Board Landscape" %}   
   {% assign namenecklace = "Name Necklace" %}
   {% assign necklace = "Necklace" %}
   {% assign namebracelett = "Name Bracelett" %}
   {% assign bracelett = "Bracelett" %}
   
   window.productTypes = ['{{custom}}',
   '{{2dma}}',
   '{{fb11}}',
   '{{fb12}}',
   '{{fb21}}',
   '{{fb13}}',
   '{{fb31}}',
   '{{cbp}}',
   '{{cbl}}',
   '{{namenecklace}}',
   '{{necklace}}',
   '{{namebracelett}}',
   '{{bracelett}}']
   window.mockupImages = ['{{ nameNecklaceMockupImage }}']
   

    
   window.monoGramData = {};
   window.productData = {{ product | json }};
   window.monoGramVariants = {{product.variants | json}};
  {%  if product.metafields.monogram.monogram_fields.type == "json" %}
    window.monogramMetafields ={};
    window.monogramMetafields["monogram_fields"] = {{ product.metafields.monogram.monogram_fields.value | json}}
  {% else %}
   window.monogramMetafields = {{product.metafields.monogram | json}}
  {% endif  %}
{% if product.type == custom %} /** Custom */
   window.monoGramData.backgroundImageSrc = "{{CustomMockupImage}}"
    function changeEvents(ele){
    ele.value = ele.value.toUpperCase();
   } 
{% elsif product.type == fb11 %} /** FoamBoard 1:1 */
    window.monoGramData.backgroundImageSrc = "{{ FoamBoard11MockupImage }}"
    hideColor()
{% elsif product.type == fb12 %} /** FoamBoard 1:2 */
    window.monoGramData.backgroundImageSrc = "{{ FoamBoard12MockupImage }}"
    hideColor()
{% elsif product.type == fb21 %} /** FoamBoard 2:1 */
    window.monoGramData.backgroundImageSrc = "{{ FoamBoard21MockupImage }}"
    hideColor()	
{% elsif product.type == fb13 %} /** FoamBoard 1:3 */
    window.monoGramData.backgroundImageSrc = "{{ FoamBoard13MockupImage }}"
   	hideColor()
{% elsif product.type == fb31 %} /** FoamBoard 3:1 */
    window.monoGramData.backgroundImageSrc = "{{ FoamBoard31MockupImage }}"
    hideColor()
{% elsif product.type == cbp %} /** Cutting Board Portrait */
	window.monoGramData.backgroundImageSrc = "{{ CuttingBoardPortraitMockupImage }}"
  	hideColor() hideSize()
{% elsif product.type == cbl %} /** CuttingBoardLandscape */
	window.monoGramData.backgroundImageSrc = "{{ CuttingBoardLandscapeMockupImage }}"
   	hideColor() hideSize()
{% elsif product.type == namenecklace %}
    window.monoGramData.backgroundImageSrc = "{{ NameNecklaceMockupImage }}"
	function changeEvents(ele){
	ele.value = ele.value.charAt(0).toUpperCase() + ele.value.slice(1);
    ele.value = ele.value.replace(/\s+/g, '');
	}
{% elsif product.type == necklace %}
	window.monoGramData.backgroundImageSrc = "{{ NecklaceMockupImage }}"
{% elsif product.type == namebracelett %}
    window.monoGramData.backgroundImageSrc = "{{ NameBraceletMockupImage }}"
	function changeEvents(ele){
	ele.value = ele.value.charAt(0).toUpperCase() + ele.value.slice(1);
    ele.value = ele.value.replace(/\s+/g, '');
	}
{% elsif product.type == bracelett %}
	window.monoGramData.backgroundImageSrc = "{{ BraceletMockupImage }}"
{% endif %}
	
 var monoDiv = document.querySelector('.mema--mono--app');
  var parent = document.querySelector('form[action^="/cart/add"]');
  var forms = document.querySelectorAll('form[action^="/cart/add"]')
  if (forms.length > 1){
parent = document.querySelector('form[action^="/cart/add"][id^="product-form-template"]')
  }
  parent.removeAttribute("novalidate");
  var selector = parent.querySelector('[name^="id"]');
  var el = FindAscendingTag(selector, "FORM");
  MonoFetchData();   
  document.getElementById("monoPreview").addEventListener("click", monoGramPreview);

  function MonoFetchData(){
    var myHeaders = new Headers();
    myHeaders.append("shopname", "{{shop.permanent_domain}}");
    var requestOptions = {
      method: 'POST',
      headers: myHeaders,
      redirect: 'follow'
    };
    var monogram_product_id = "{{product.id}}";
    fetch(`https://hyntl2m33i.execute-api.us-east-2.amazonaws.com/previewImage?product_id=${monogram_product_id}`, requestOptions)
      .then(response => response.json())
      .then(result => {
      monoGramData.variants = result.data.variants;
      monoGramData.script = result.data.script;
      monoGramData.isEnable = result.data.IsEnabled;
      if(monoGramData.isEnable){
        parent.insertBefore(monoDiv, el);
        monoDiv.classList.remove('hide');
      }
    })
    .catch(error => console.log('error', error));
  }

  function FindAscendingTag(el, tag){
    var t,prevnode;
    while (el.parentNode) {
      prevnode = el;  
      el = el.parentNode;
      if( el.tagName === tag ){
          break
      };
    }
    return prevnode;
  }


  function monoGramPreview(e){
    if(document.getElementById('monoGramScript')){
      document.getElementById('monoGramScript').remove();
    } 
    var s = document.createElement('script');
    s.type = 'text/javascript';
    s.id = "monoGramScript";
    s.innerHTML = monoGramData.script;
    document.body.appendChild(s);
    e.preventDefault();
  }

  function hideColor() {
    let colorLabel = [...document.querySelectorAll('label')]
      .find(l => l.innerText.toLowerCase().includes("color"));
    if (colorLabel) {
      let colorDiv = colorLabel.closest('div.variant-wrapper');
      if (colorDiv && colorDiv.style) colorDiv.style.display = 'none';
    }
  }
  function hideSize() {
    let sizeLabel = [...document.querySelectorAll('label')]
      .find(l => l.innerText.toLowerCase().includes("size"));
    if (sizeLabel) {
      let sizeDiv = sizeLabel.closest('div.variant-wrapper');
      if (sizeDiv && sizeDiv.style) sizeDiv.style.display = 'none';
    }
  }
  
  var namesInput = [
    ...document.querySelectorAll(
      "fieldset[name='names'] > .variant-input"
    ),
  ];
  namesInput.forEach((inp) => {
    inp.addEventListener("change", (e) => {

      var custom = getCustomInputs();
      const namesCount = +e.target.value;
      const inputs = custom.inputs;
      const divs = custom.divs;
      handleCustomInputs(inputs, namesCount);
      handleCustomDivs(divs, namesCount);
    });
  });
  function handleCustomDivs(
    divs,
    namesCount
  ) {
    var higher = Object.keys(divs)
      .filter((k) => +k > namesCount)
      .map((k) => divs[k]);
    var lower = Object.keys(divs)
      .filter((k) => +k <= namesCount)
      .map((k) => divs[k]);

    higher.forEach((div) => {
      div.style.display = "none";
    });
    lower.forEach((div) => {
      div.style.display = "block";
    });
  }

  function handleCustomInputs(
    inputs,
    namesCount
  ) {
    var higher = Object.keys(inputs)
      .filter((k) => +k > namesCount)
      .map((k) => inputs[k]);
    var lower = Object.keys(inputs)
      .filter((k) => +k <= namesCount)
      .map((k) => inputs[k]);

    higher.forEach((inp) => {
      inp.required = false;
      inp.value = null;
    });
    lower.forEach((inp) => {
      inp.required = true;
    });
  }

  function getCustomInputs() {
    var customInputs = [
      ...document.querySelectorAll(
        "input[name^='properties[Name']"
      ),
    ];

    var inputsMap = customInputs.reduce(
      (map, inp) => ((map[parseName(inp)] = inp), map),
      {}
    );
    var divsMap = customInputs.reduce(
      (map, inp) => (
        (map[parseName(inp)] = inp.closest(
          ".mono--app--field"
        )),
        map
      ),
      {}
    );
    return { inputs: inputsMap, divs: divsMap };
  }
  function parseName(inp) {
    var re = new RegExp("[^0-9]", "g");
    return inp.name.replace("properties[", "").replace("]", "").replace(re, "");
  }
 </script>
 {% endif %}
 
 <div id="monogram-modal">
   <div class="monogram-modal-inner">
     <div class="monogram-modal-inner-part">
       <span class="mono-modal-close" id="monogram-modal-close">X</span>
       <div class="monogram-modal-body">
         
       </div>
     </div>
   </div>
 </div>
 
 <script type="text/babel">
   window.openMonoGramModal = function(){
     document.getElementById("monogram-modal").style.display = 'block';
     document.body.classList.add('overflow_hidden');
   }
   window.closeMonoGramModal = function(){
     document.getElementById("monogram-modal").style.display = 'none';
     document.body.classList.remove('overflow_hidden');
   }
   
   window.openMonoGramLoader = function(){
     document.querySelector(".mono_custom_loader").style.display = 'block';
     document.body.classList.add('overflow_hidden');
   }
   window.closeMonoGramLoader = function(){
     document.querySelector(".mono_custom_loader").style.display = 'none';
     document.body.classList.remove('overflow_hidden');
   }
   window.monogramSelectedVariant = function(){
     var target = parseInt(selector.value);
     const selectedVariant = window.monoGramVariants.filter((variant) => variant.id === target);
     if(selectedVariant[0]){
   return selectedVariant[0];
   }
   }
   document.getElementById("monogram-modal-close").addEventListener("click", closeMonoGramModal);
 </script>
 
 
 <!-- Loader -->
 
 <div class="mono_custom_loader">
   <div class="custom_load_position">
     <div class="custom_load_wrap">
       <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
     </div>
   </div>
 </div>
<style>
    .mema--mono--app.hide {
        display: none
    }

    .mema--mono--app::after {
        content: '';
        display: table;
        clear: both
    }

    .mema--mono--app .mono--app--field {
        width: 100%;
        float: left;
        margin-bottom: 15px
    }
  
    .mema--mono--app .mono--app--field {
        width: 100%;
        float: left;
        margin-bottom: 15px
    }
  
    .mema--mono--app .mono--app--field input,
    .mema--mono--app .mono--app--field select {
      font-size: 20px;  
      width: 100%;
      text-align: center
    }

    .mema--mono--app .mono--app--field input {
      {% if product.type == custom or product.type == 2dma %}
        text-transform: upperCase;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      {% elsif product.type == fb11 or product.type == fb12 or product.type == fb21 or product.type == fb13 or product.type == fb31 %}
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      {% elsif product.type == namenecklace or product.type == namebracelett %}
        text-transform: capitalize;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden
      {% endif %}
    }
  
    .mono--app--field-btn {
        width: 100%;
        display: block;
        float: none;
        clear: left;
        margin: 20px 0;
        cursor: pointer
    }
  
    #monogram-modal {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 99999999;
        background: rgb(0 0 0 / .5);
        display: none
    }
  
    #monogram-modal .monogram-modal-inner {
        position: absolute;
        top: 50%;
        left: 50%;
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        background: #fff;
        max-height: calc(100% - 50px);
        max-width: calc(100% - 50px);
        max-width: 600px
    }
  
    #monogram-modal .monogram-modal-inner-part {
        position: relative;
        width: auto;
        height: auto
    }
  
    .monogram-modal-body {
        height: auto;
        overflow-y: auto
    }
  
    .mono-modal-close {
        position: absolute;
        right: 0;
        top: 0;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        background: #000;
        color: #fff;
        cursor: pointer;
        font-size: 18px
    }

    .overflow_hidden {
        overflow: hidden
    }

    .monogram-modal-body::-webkit-scrollbar {
        width: 5px
    }

    .monogram-modal-body::-webkit-scrollbar-thumb {
        background-color: #ccc;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px
    }

    .mono_custom_loader {
        display: none;
        position: fixed;
        background: rgba(0, 0, 0, .7);
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        height: 100vh;
        z-index: 2000
    }

    .mono_custom_loader .custom_load_position {
        position: relative;
        position: relative;
        height: 100vh;
        width: 100%;
        text-align: center
    }

    .mono_custom_loader .custom_load_position .custom_load_wrap {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        -moz-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%)
    }

    .lds-roller {
        display: inline-block;
        position: relative;
        width: 64px;
        height: 64px
    }

    .lds-roller div {
        animation: lds-roller 1.2s cubic-bezier(.5, 0, .5, 1) infinite;
        transform-origin: 32px 32px
    }

    .lds-roller div:after {
        content: " ";
        display: block;
        position: absolute;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: #fff;
        margin: -3px 0 0 -3px
    }

    .lds-roller div:nth-child(1) {
        animation-delay: -36ms
    }

    .lds-roller div:nth-child(1):after {
        top: 50px;
        left: 50px
    }

    .lds-roller div:nth-child(2) {
        animation-delay: -72ms
    }

    .lds-roller div:nth-child(2):after {
        top: 54px;
        left: 45px
    }

    .lds-roller div:nth-child(3) {
        animation-delay: -108ms
    }

    .lds-roller div:nth-child(3):after {
        top: 57px;
        left: 39px
    }

    .lds-roller div:nth-child(4) {
        animation-delay: -144ms
    }

    .lds-roller div:nth-child(4):after {
        top: 58px;
        left: 32px
    }

    .lds-roller div:nth-child(5) {
        animation-delay: -.18s
    }

    .lds-roller div:nth-child(5):after {
        top: 57px;
        left: 25px
    }

    .lds-roller div:nth-child(6) {
        animation-delay: -216ms
    }

    .lds-roller div:nth-child(6):after {
        top: 54px;
        left: 19px
    }

    .lds-roller div:nth-child(7) {
        animation-delay: -252ms
    }

    .lds-roller div:nth-child(7):after {
        top: 50px;
        left: 14px
    }

    .lds-roller div:nth-child(8) {
        animation-delay: -288ms
    }

    .lds-roller div:nth-child(8):after {
        top: 45px;
        left: 10px
    }

    @keyframes lds-roller {
        0% {
            transform: rotate(0)
        }

        100% {
            transform: rotate(360deg)
        }
    }

    @media(max-width:767px) {
        #monogram-modal .monogram-modal-inner {
            max-width: calc(100% - 30px);
            width: 100%;
        }

        #monogram-modal .monogram-modal-inner svg {
            width: 100%;
        }
    }
</style>